body {
    background: white;
    color: black;
    margin: 0px;
    font-family: 'Raleway', sans-serif;;
}

.header {
    background: #033860;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 2%;
    text-align: center;
}

h1 {
    margin: 0px;
    font-size: 50px;
    padding-left: 1%;
}

.upperlink {
    float: right;
    padding-right: 2%;
    color: white;
}

#carouselExampleIndicators{
    width: 700px;
    height: 500px;
    padding-top: 3%;
    padding-left: 3%;
    display: inline-block;
    float: left;

}
    .carousel-control-prev {
        padding-top: 3%;
        padding-left: 3%;
        opacity: .7;
    }
    .carousel-control-next {
        padding-top: 3%;
        padding-left: 3%;
        opacity: .7;
    }
    .d-block {
        border-radius: 15px 50px;
    }
    .carousel-indicators li {
        background-color: grey;
    }
.gameInformationSection {
    display: inline-block;
    float: right;
    width: 550px;
    padding-right: 5%;
}
    .gameTitle {
        padding-top: 10%;
    }
    .gameText {
        padding-top: 3%;
    }
.btn-outline-success {
    color: white;
    border-color: white;
}
    .btn-outline-success:hover {
        background-color: white;
        color: black;
    }

#gamePageInventory{
        margin-top: 5%;
        margin-left: 3%;
        margin-right: 3%;
        align-content: center;
}
    #games {
        border-style: outset;
        border-width: 5px;
    }
    
    .gameSection {
        background-color: #033860;
        color: white;
        height: 250px;
        width: 250px;
        padding-left: 0.5%;
        padding-right: 0.5%;
        padding-top: 0.5%;
        padding-bottom: 0.5%;
        display: inline-block;  
        margin: 20px 20px 20px 20px;
        border-radius: 15px;
    }
        .gamePicture {
            height: 250px;
            width: 150px;
            float: right;
            padding-left: 1%;
            border-radius: 15px;
        }
        .gameFormInfo {
            height: 150px;
            width: 85px;
            float: left;
            padding-left: 1%;
        }


        