.confirmationText{
    font-size: 2.25em;
    color: black;
    text-align: center; 
    vertical-align: center;
    border: 5px solid #033860;
    border-radius: 15px 50px;
    margin-top: 40vh;
    margin-left: 30vw;
    margin-right: 30vw;
    font-family: Georgia, 'Times New Roman', Times, serif

}